
<div class="jumbotron text-center">
  <h1>MongoNews</h1>
  <p>The Business Insider Edition</p>
  <div class='container'>
    <button type='button' class='scrapeButton btn btn-primary'>Scrape for New Articles</button>
  </div>
</div>
<div class="container-fluid bg-grey" id='articleOutput'>

</div>

<script>
  $(document).on('click', '.scrapeButton', 
    function(){
      scrapeTime()
    });

  $(document).on('click', '#saveArticle', 
    function(){
      saveArticle(this.getAttribute('title'), this.getAttribute('link'))
    }
  );

  function scrapeTime() {
    $.getJSON('/scrape', function (data) {
      for (var i = 0; i < data.length; i++) {
        $('#articleOutput').append(
          '<div class="container artiBox"><span><h2 style="width: 85%">' + data[i].title + '</h2><button style="float: right" title='+'"'+data[i].title+'"'+' link='+data[i].link.slice(11, data[i].length)+' id="saveArticle" class="btn btn-success pull-right">'+'Save Article'+'</button></span><a style="float: left" href=' + data[i].link + '>' + data[i].link.slice(11, data[i].length) + '</a></div>'
        )
      }
    })
  }

  function saveArticle(title, link){
    console.log('title: '+title);
    console.log('link: '+link);
    $.post('/save', {
        title: title,
        link: link
        }, function(res, err){
      if(err){
        console.log('error: '+ err);
      }
      console.log('response:' +res);
    })
  }
</script>